<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogoutS</servlet-name>
        <servlet-class>myServlet.LogoutS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginS</servlet-name>
        <servlet-class>myServlet.LoginS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TorlesS</servlet-name>
        <servlet-class>myServlet.TorlesS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HozzaadS</servlet-name>
        <servlet-class>myServlet.HozzaadS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FelveszS</servlet-name>
        <servlet-class>myServlet.FelveszS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutS</servlet-name>
        <url-pattern>/LogoutS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginS</servlet-name>
        <url-pattern>/LoginS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TorlesS</servlet-name>
        <url-pattern>/TorlesS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HozzaadS</servlet-name>
        <url-pattern>/HozzaadS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FelveszS</servlet-name>
        <url-pattern>/FelveszS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
